* { 
	margin: 0; 
	padding: 0; 
	list-style: none; 
	font-family: inherit; 
	-webkit-text-size-adjust: 100%;
}

body { 
	padding: 20px 10px 0; 
	font: 13px/20px -apple-system, BlinkMacSystemFont, Roboto, sans-serif; 
}

div { 
	padding: 0 10px 20px; 
	box-sizing: border-box; 
}

@media only screen and (min-width: 600px) { 
	#owned div { 
		width: 33.3%; 
		float: left; 
	} 
}

li { padding-left: 17px; text-indent: -17px; }
u { text-indent: 0; }
li li { color: #808080; padding-left: 0.65em; text-indent: -14px; }
li li:before { content: '\21b3\00a0'; }

header span,
header:after {
	content: '\00a0\00a0'attr(title);
	font-size: 10px;
	line-height: 0;
	color: #808080;
}

u { 
	text-decoration: none;
	font-size: 10px;
	display: inline-block;
	line-height: 11px;
	vertical-align: 1px;
	text-align: center;
	white-space: nowrap;
	padding: 0 2px;
	margin-right: 1px;
	border: 1px solid;
	border-radius: 1px;
	border-bottom-width: 2px;
}

#owned u {
	width: 7px;
}

u.ps4 { color: #4080c0; }
u.ps3, u.ps2 { color: #808080; }
u.psv, u.psp, u.ps1 { color: #40c040; }

span {
	color: #c04040;
}

small {
	font-size: 10px;
	line-height: 0;
	margin-left: 2px;
}