/* 1. VARIABLES
/*---------------------------------------------*/

html {

	/* Fuentes */
	--ff-header: Scada, helvetica, geneva, arial, sans-serif;
	--ff-main: Ruda, helvetica, geneva, arial, sans-serif;
	--ff-side: Barlow, helvetica, geneva, arial, sans-serif;
	--ff-sans: Barlow, helvetica, geneva, arial, sans-serif;

	--fs-36: calc(var(--fs-main) * 36 / 16);
	--fs-32: calc(var(--fs-main) * 32 / 16);
	--fs-30: calc(var(--fs-main) * 30 / 16);
	--fs-24: calc(var(--fs-main) * 24 / 16);
	--fs-20: calc(var(--fs-main) * 20 / 16);
	--fs-18: calc(var(--fs-main)*18/16);
	--fs-main: 1rem;
	--fs-15: calc(var(--fs-main)*15/16);
	--fs-14: calc(var(--fs-main)*14/16);
	--fs-13: calc(var(--fs-main)*13/16);

	--fs-h1: var(--fs-18);
	--fs-h2: var(--fs-36);
	--fs-h2-sub: var(--fs-30);
	--fs-h3: var(--fs-32);
	--fs-h4: var(--fs-20);
	--fs-h5: var(--fs-18);
	--fs-tabs: var(--fs-main);
	--fs-footer: var(--fs-main);
	--fs-social: var(--fs-20);

	/* Layout: width */
	--body-ph: max(4.5vw, 1rem);
	/* --article-w: 640px; Definido en a_head */
	--aside-ml: calc(9vw - var(--aside-p));
	--aside-w: 13.5rem;
	--aside-p: 0.5rem;

	/* Medidas */
	--br: 4px;
	--mh: calc(1.2rem + 0.6vw);
	--mh-mid: calc(0.9rem + 0.45vw);
	--mh-small: calc(0.6rem + 0.3vw);

	--header-v: calc(1.8rem + 0.6vw);
	--main-v: calc(5.4rem + 1.8vw);
	--big-v: calc(7.5 * var(--main-v) / 12);
	--med-v: calc(6 * var(--main-v) / 12);
	--small-v: calc(4.5 * var(--main-v) / 12);
	--vsmall-v: calc(3 * var(--main-v) / 12);
	--scroll-offset: var(--vsmall-v);
	--pest-mv: 0.7rem;
	--caption-v: 0.4rem;
	--par-v: 0.6rem;
	--larga-v: 0.8rem;
	--video-v: 1rem;
	--h1-off: 5px;

	--thumb-w: 140px;
	--thumb-mv: 75px;
	--thumb-mh: calc(1rem + 1.4vw);
	--imamini-w: 110px;
	--imamini-mh: calc(2 * var(--mh) / 3);
	--imamini-mt: calc(var(--par-v) + 3px);
	--imamini-mb: var(--par-v);
	--campo-pv: calc(4rem / 3);
	--campo-pv-big: calc(3 * var(--campo-pv) / 2);
	--campo-pv-small: calc(var(--campo-pv) / 4);
	--label-before-mr: calc(1rem / 2);
	--map-h: 600px;
	--popup-m: 1em;

	/* Animaciones */
	--trans-time: 0.15s;
	--trans-func: ease;

	/* Scrollbars */
	--scrollbar-w: 5px;
	--scrollbar-h: 5px;
	--scrollbar-bg: var(--main-bg);
	--scrollbar-thumb: #ccc;

	/* COLORES */
	/* HTML. */
	--html-c: #111;
	--icon-c: #fff;
	--icon-bg: hsl(5, 45%, 70%);
	--icon-bg-over: hsl(5, 45%, 60%);
	--high-c: #fff;
	--high-bg: hsl(5, 45%, 65%);
	--high-bg-over: hsl(5, 45%, 55%);
	/* Header. */
	--h1-c: #fff;
	--h2b-c: #eee;
	--popup-c: #444;
	--popup-b-c: #555;
	--popup-bg: #fafafa;
	--popup-bc: #ccc;
	--popup-set-c: var(--popup-b-c);
	--popup-set-c-over: var(--popup-c);
	--popup-set-bc: var(--input-bc);
	--popup-set-bc-over: var(--input-bc-over);
	--popup-set-bg: #var(--input-bg);
	--popup-set-bg-over: var(--input-bg-over);
	--pest-c: #420;
	--pest-bg: hsla(0, 0%, 85%, 0.9);
	--pest-bg-act: hsla(0, 0%, 100%, 0.9);
	/* Section. */
	--section-bc: #e5e5e5;
	--section-b: 1px solid var(--section-bc);
	--section-opa: 0.7;
	--main-bg-opa: 0.3;
	/* Aside. */
	--aside-c: hsl(0, 0%, 40%);
	--aside-b-c: hsl(0, 0%, 60%);
	--aside-a-c: hsl(240, 27%, 60%);
	--aside-a-over: hsl(240, 27%, 40%);
	/* H3. */
	--h3-c: #444;
	--h3-em-c: #666;
	--h4-c: #444;
	--h5-c: #444;
	--h6-c: #666;
	/* Cajetín, Errmsg. */
	--cajetin-h: 30;
	--errormsg-h: 0;
	--status-s: 60%;
	--status-bg-l: 98%;
	--status-bc-l: 87%;
	--status-c-l: 25%;
	--status-b-c-l: 0%;
	--cajetin-bg: hsl(var(--cajetin-h), var(--status-s), var(--status-bg-l));
	--cajetin-bc: hsl(var(--cajetin-h), var(--status-s), var(--status-bc-l));
	--cajetin-c: hsl(var(--cajetin-h), var(--status-s), var(--status-c-l));
	--cajetin-b-c: hsl(var(--cajetin-h), var(--status-s), var(--status-b-c-l));
	--errmsg-bg: hsl(var(--errormsg-h), var(--status-s), var(--status-bg-l));
	--errmsg-bc: hsl(var(--errormsg-h), var(--status-s), var(--status-bc-l));
	--errmsg-c: hsl(var(--errormsg-h), var(--status-s), var(--status-c-l));
	/* Selección. */
	--sel-c-s: 30%;
	--sel-c: hsl(var(--cajetin-h), var(--sel-c-s), 30%);
	--sel-c-over: hsl(var(--cajetin-h), var(--sel-c-s), 0%);
	--sel-b-c: hsl(var(--cajetin-h), var(--sel-c-s), 15%);
	--sel-bc: hsl(var(--cajetin-h), var(--status-s), 86%);
	--sel-bc-over: hsl(var(--cajetin-h), var(--status-s), 80%);
	--even-bg: hsl(var(--cajetin-h), var(--status-s), 97%);
	--sel-bg-over: hsl(var(--cajetin-h), var(--status-s), 95%);
	/* Resultados. */
	--leer-dim-c: #444;
	--leer-b-c: #777;
	--leer-a-c: #77b;
	--leer-a-c-over: #448;
	--leer-em-c: #858;
	--leer-small-c: #787;
	--leer-deco-bw: 0.3rem;
	--leer-foto-bw: 1rem;
	--leer-foto-bc: hsla(0, 0%, 90%, 0.6);
	/* Archivos. */
	/* Formulario. */
	--before-c: hsl(5, 45%, 75%);
	--before-c-over: hsl(5, 45%, 65%);
	--legend-c: #222;
	--legend-sub-c: #666;
	--lab-c: #444;
	--lab-c-over: hsl(240, 40%, 50%);
	--lab-c-dis: #ccc;
	--input-c: #444;
	--input-c-over: #111;
	--input-c-dis: #ccc;
	--input-bc: #ccc;
	--input-bc-over: #b6b6b6;
	--input-bc-focus: #888;
	--input-bc-dis: #ddd;
	--input-bg: rgba(255, 255, 255, var(--main-bg-opa));
	--input-bg-over: rgba(94%, 94%, 94%, var(--main-bg-opa));
	--input-bg-dis: #fff;
	--submit-op-off: 0.4;
}



/* 2. GLOBAL STYLES
/*---------------------------------------------*/

html {
	font: 13px/20px 'Helvetica Neue', Helvetica, sans-serif;
	color: var(--html-c);
	background: var(--main-bg);
}

a,
input,
button,
select,
textarea,
figure {
	transition: all var(--trans-time) var(--trans-func);
}

input,
button,
select,
textarea {
	color: var(--input-c);
}

::selection {
	background: hsl(48, 90%, 86%);
	text-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

ul {
	list-style-type: none;
}

.showbox {
	position: relative;
	display: inline-block;
}

.showbox>span {
	display: inline-block;
	position: absolute;
	top: 0;
	width: 40%;
	height: 100%;
	cursor: pointer;
}

.areaprev {
	left: 0;
}

.areanext {
	left: 60%;
}



/* 3. LAYOUT
/*---------------------------------------------*/

body {
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

footer {
	flex-shrink: 0;
	position: relative;
}

.inner,
section {
	max-width: calc(2 * var(--body-ph) + var(--article-w) + var(--aside-ml) + var(--aside-w));
	padding-inline: var(--body-ph);
	margin-inline: auto;
}

section {
	display: none;
	justify-content: space-between;
	align-items: flex-start;
	row-gap: var(--big-v);
	/*padding-block: var(--main-v);*/
	padding: 20px;
}

section:not(.split) {
	flex-wrap: wrap;
}

section.split {
	column-gap: var(--aside-ml);
}

section>article {
	flex-basis: 100%;
	max-width: 100%;
}

/* max-width es necesaria para evtar overflows en perfiles y mapas */
section>aside {
	flex-basis: var(--aside-w);
}

section.split>article {
	flex-basis: var(--article-w);
}

section.split>aside {
	position: sticky;
	top: var(--scroll-offset);
	max-height: calc(100vh - 2 * var(--scroll-offset) + 2 * var(--aside-p));
	padding: var(--aside-p);
	overflow-y: auto;
	overscroll-behavior: contain;
}



/* 4. SPECIFIC STYLES
/*---------------------------------------------*/

/* HEADER */

header {
	cursor: default;
	font-family: var(--ff-header);
	background-color: #cbb;
	background-image: url(../img/bg/wp/901b.jpg);
	background-position: center top;
	background-size: cover;
}

hgroup {
	background: hsla(22.5, 40%, 85%, 0.45);
}

#h1 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: var(--mh);
}

h1 {
	font-size: var(--fs-h1);
	font-weight: 400;
}

h1>* {
	display: inline-block;
	margin-top: calc(-1 * var(--h1-off));
	padding: calc(0.25em + var(--h1-off)) var(--mh-small) 0.15em;
	line-height: 1.4;
	color: var(--h1-c);
	background: hsla(250, 25%, 55%, 0.75);
	border-bottom-left-radius: var(--br);
	border-bottom-right-radius: var(--br);
}

h1 a {
	text-transform: uppercase;
}

h1 a:hover,
h1 a:focus {
	background: hsla(270, 35%, 65%, 0.75);
	transform: translateY(var(--h1-off));
}

#h1 .right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: var(--mh);
}

#h1 .right>span {
	display: flex;
	align-items: center;
	column-gap: var(--mh-small);
	white-space: nowrap;
}

#h1 .right a {
	padding: 0 0.5em;
	font-size: var(--fs-14);
	color: var(--pest-c);
	background-color: var(--pest-bg);
	border-radius: var(--br);
}

#h1 .right a.iconfont {
	line-height: 1.5;
}

#h1 .right a.current {
	background-color: var(--pest-bg-act);
	transform: scale(1.1);
	cursor: default;
}

#shortcuts {
	cursor: help;
}

#h1 .right a:hover,
#h1 .right a:focus {
	transform: scale(1.1);
}

#h2 {
	padding-top: calc(2 * var(--header-v));
	padding-bottom: var(--header-v);
	font-size: var(--fs-h2);
}

h2 {
	width: fit-content;
	text-wrap: balance;
	word-spacing: 2px;
	letter-spacing: 1px;
	color: var(--h1-c);
	padding: 0.15em var(--mh-small) 0.1em;
	background: hsla(0, 33%, 40%, 0.75);
	border-radius: var(--br);
}

h2+h2 {
	margin-top: var(--header-v);
	color: var(--h2b-c);
	background: hsla(240, 33%, 40%, 0.75);
	font-size: var(--fs-h2-sub);
}

#secs {
	font-family: var(--ff-header);
	padding-block: var(--pest-mv);
	background: hsla(22.5, 40%, 62%, 0.45);
}

#secs nav {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: var(--mh);
	row-gap: var(--pest-mv);
}

#secs a {
	position: relative;
	white-space: nowrap;
	padding: 0.25em 0.6rem 0.15em;
	line-height: 1.2;
	font-size: var(--fs-tabs);
	text-transform: uppercase;
	color: var(--pest-c);
	background-color: var(--pest-bg);
	border-radius: var(--br);
}

/* #secs a:only-child { visibility: hidden; } */
#secs a.activo {
	background-color: var(--pest-bg-act);
	cursor: default;
}

#secs a.activo::before {
	content: '';
	border-color: var(--pest-bg-act) transparent transparent transparent;
	border-style: solid;
	border-width: var(--pest-mv) var(--pest-mv) 0 var(--pest-mv);
	position: absolute;
	left: calc(50% - var(--pest-mv));
	top: 100%;
}

#secs a:is(:hover, :focus) {
	scale: 1.1;
	translate: 0 -2px;
}


/* FOOTER */

footer {
	font-family: var(--ff-sans);
	font-size: var(--fs-footer);
	background-image: url(../img/sprites/all.gif);
	background-position: center center;
}

#navfoot {
	padding-block: var(--small-v) var(--med-v);
	background: hsla(40, 40%, 95%, 0.95);
}

#navfoot nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-start;
	gap: calc(var(--mh) * 1.75);
}

#navfoot nav div {
	padding: var(--mh-small);
	background: hsla(40, 40%, 98%, 0.6);
	border-radius: var(--br);
}

#m_sec {
	display: none;
}

#navfoot p {
	margin-top: 0.1em;
	text-align: center;
	white-space: nowrap;
}

#navfoot p.h2 {
	margin-bottom: 0.6em;
	padding: 0 var(--mh-small) 1px;
	text-transform: uppercase;
	color: #fff;
	background: hsla(5, 45%, 55%, 0.6);
	border-radius: var(--br);
	cursor: default;
}

#navfoot a {
	color: var(--leer-dim-c);
	display: flex;
	gap: 0.5em;
	justify-content: center;
	align-items: center;
	margin-inline: -5px;
	padding-inline: 5px;
	border-radius: var(--br);
}

#navfoot a.current,
#navfoot a:hover,
#navfoot a:focus {
	background: hsla(40, 40%, 90%, 0.6);
}

#navfoot img.flag {}

#bye {
	padding-block: calc(var(--small-v) / 2);
	text-align: center;
	background: hsla(40, 30%, 93%, 0.95);
	cursor: default;
	color: var(--leer-b-c);
}

#bye .inner {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	column-gap: var(--mh);
	row-gap: calc(0.5 * var(--vsmall-v));
}

#bye .inner .iconfont {
	line-height: 1.5;
	opacity: 0.8;
}

#bye .inner>* {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	column-gap: var(--mh);
	row-gap: calc(0.5 * var(--vsmall-v));
}

#bye .inner span,
#bye .inner a {
	color: #666;
}

#bye .inner a:not(.iconfont).activo {
	color: #999;
}

#bye .inner a:not(.iconfont):hover,
#bye .inner a:not(.iconfont):focus {
	color: #999;
}

#bye .inner a.iconfont:hover,
#bye .inner a.iconfont:focus {
	transform: scale(1.1);
	color: #333;
}

#creditos {
	display: none;
}


/* MAIN */

main {
	background: var(--main-bg);
}


/* ASIDE */

aside {
	display: flex;
	flex-direction: column;
	gap: var(--med-v);
	font-family: var(--ff-side);
	font-size: var(--fs-16);
	color: var(--aside-c);
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-bg) var(--scrollbar-bg);
}

aside:hover {
	scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-bg);
}

aside::-webkit-scrollbar {
	width: var(--scrollbar-w);
}	

aside::-webkit-scrollbar-track {
	background-color: var(--scrollbar-bg);
}

aside::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-bg);
}

aside:hover::-webkit-scrollbar-thumb {
	background-color: var(--scrollbar-thumb);
}

aside>div:empty {
	display: none;
}

aside .hideinright {
	display: none;
}

/* .sidenav */

.sidenav {
	cursor: default;
}

.sidenav a {
	color: var(--aside-a-c);
}

.sidenav a:hover,
.sidenav a:focus {
	color: var(--aside-a-over);
}

.sidenav a.iconfont {
	display: inline-block;
}

.sidenav a.iconfont:hover,
.sidenav a.iconfont:focus {
	transform: scale(1.1);
}

.pagenav a.current,
.pagednav a.current {
	color: var(--aside-a-over);
}

.h4nav {
	margin-left: 1em;
}

/* .pagenav li, .pagednav li { white-space: nowrap; overflow: hidden; text-overflow: ellipsis; } */
.pagenav li,
.pagednav li {
	line-height: 1.2;
	padding-top: 0.75em;
}

/* .social */

.social {
	display: flex;
	align-items: center;
	font-size: var(--fs-social);
	column-gap: 1em;
}

.social a {
	color: var(--icon-bg);
}

.social a:hover,
.social a:focus {
	color: var(--icon-bg-over);
	transform: scale(1.1);
}

/* .donate */

.donate p {
	margin-bottom: 1em;
}

.donate p b {
	font-weight: normal;
	color: var(--aside-b-c);
}

.donate .botones .paypal {
	display: inline;
}

.paypal * {
	vertical-align: bottom;
}

/* 3px bottom extra fix */
.paypal input {
	opacity: 0.85;
}

.paypal input:hover,
.paypal input:focus {
	opacity: 1;
	transform: scale(1.1);
}

/* .campaign */

.campaign a {
	display: inline-block;
}

.campaign a:hover,
.campaign a:focus {
	transform: scale(1.1);
}



/* ARTICLE */
article {
	/*line-height: 1.6;*/
}

/* .h3bar */
.h3bar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: var(--mh);
	scroll-margin-top: var(--scroll-offset);
}

.prevnext {
	display: flex;
	justify-content: flex-end;
	column-gap: var(--mh);
	margin-top: var(--small-v);
}

.h3bar h3 {
	font-size: var(--fs-h3);
	word-spacing: 2px;
	letter-spacing: 1px;
	color: var(--h3-c);
	font-family: var(--ff-header);
}

.h3bar h3 em {
	font-style: normal;
	color: var(--h3-em-c);
}

.h3bar .right,
.prevnext .right {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	column-gap: var(--mh-mid);
}

.sidebtn {
	display: flex;
	align-items: center;
	column-gap: 0.5em;
	font-family: var(--ff-sans);
	font-size: var(--fs-18);
	line-height: 1.2;
	color: var(--high-bg);
}

.sidebtn.pagedprev,
.sidebtn.pagednext {
	display: none;
}

a.sidebtn.hilight,
a.sidebtn:hover,
a.sidebtn:focus {
	color: var(--high-bg-over);
	transform: scale(1.1);
}


/* .cajetin + .errmsg */

.cajetin,
.errmsg {
	display: inline-block;
	padding: 0.75em var(--mh-mid);
	border: var(--section-b);
	border-color: var(--cajetin-bc);
	border-radius: var(--br);
	cursor: default;
	font-family: var(--ff-sans);
}

.cajetin {
	margin-top: var(--small-v);
	color: var(--cajetin-c);
	background: var(--cajetin-bg);
}

.errmsg {
	margin-bottom: var(--small-v);
	color: var(--errmsg-c);
	border-color: var(--errmsg-bc);
	background: var(--errmsg-bg);
	scroll-margin-top: var(--scroll-offset);
}

.errmsg:empty {
	display: none;
}

.cajetin p+p {
	margin-top: 4px;
}

.cajetin p b {
	font-weight: normal;
	color: var(--cajetin-b-c);
}

.cajetin p em {
	font-weight: bold;
}

.cajetin p a,
.errmsg p a {
	color: var(--leer-a-c);
}

.cajetin p a:hover,
.cajetin p a:focus,
.errmsg p a:hover,
.errmsg p a:focus {
	text-decoration: underline;
}


/* badbrowser */

#badbrowser {
	margin-bottom: var(--main-v);
}

#badbrowser .inner {
	padding: 0.75em var(--mh-mid);
	color: var(--errmsg-c);
	text-transform: uppercase;
	background: var(--errmsg-bg);
	border: var(--section-b);
	border-color: var(--errmsg-bc);
	border-radius: var(--br);
	cursor: default;
}

#badbrowser b,
#badbrowser a {
	word-spacing: 1px;
	letter-spacing: 1px;
}

#badbrowser b {
	font-weight: normal;
	color: var(--leer-b-c);
}

#badbrowser a {
	color: var(--leer-a-c);
}

#badbrowser a:hover,
#badbrowser a:focus {
	text-decoration: underline;
}


/* .hrefs */

.hrefs h4 {
	margin-top: var(--med-v);
	padding-bottom: var(--par-v);
	scroll-margin-top: var(--scroll-offset);
	font-family: var(--ff-header);
	font-size: var(--fs-h4);
	color: var(--h4-c);
}

.hrefs p {
	margin-top: var(--par-v);
	margin-left: 1.9em;
	text-indent: -1.9em;
}

.hrefNumber,
.hrefs {
	display: none;
}

.hrefs p span {
	color: var(--leer-b-c);
}


/* .h3conts */

.h3conts {
	overflow-x: auto;
}


/* .leer .h3conts (index.php + guia.php + #resultados) */
.leer .h3foto {
	margin-top: var(--med-v);
}

.leer .h3foto img {
	border: var(--leer-foto-bw) solid var(--leer-foto-bc);
	border-radius: var(--br);
}

.leer .h3conts .h4box {
	margin-top: var(--med-v);
}

.leer .h3conts h4 {
	font-family: var(--ff-header);
	font-size: var(--fs-h4);
	color: var(--h4-c);
	scroll-margin-top: var(--scroll-offset);
}

.leer .h3conts h4::before {
	content: "\25b7";
	margin-right: var(--label-before-mr);
	font-size: var(--fs-18);
	color: var(--icon-bg);
}

.leer .h3conts h5 {
	margin-top: var(--vsmall-v);
	scroll-margin-top: var(--scroll-offset);
	color: var(--h5-c);
	font-size: var(--fs-h5);
	font-variant: small-caps;
}

.leer .h3conts h6 {
	margin-top: var(--video-v);
	color: var(--h6-c);
}

.leer .h3conts table,
.leer .h3conts p,
.leer .h3conts li {
	margin-top: var(--par-v);
	text-align: justify;
}

.leer .h3conts .intron {
	padding-inline: 1em;
	color: var(--h6-c);
}

.leer .h3conts .ojo {
	color: var(--leer-em-c);
	margin-left: 1.5em;
	text-indent: -1.5em;
}

.leer .h3conts .ojo::before {
	content: "p";
	font-family: icomoon;
	text-transform: none;
	font-size: var(--fs-14);
	color: var(--leer-em-c);
	margin-right: var(--label-before-mr);
}

.leer .h3conts .ojo em {
	text-transform: uppercase;
}

.leer .h3conts .pie {
	color: var(--leer-b-c);
}

.leer .h3conts .small {
	font-size: var(--fs-15);
}

.leer .h3conts .guia {
	display: flex;
	align-items: flex-start;
	gap: var(--imamini-mh);
	padding-left: calc(var(--imamini-mh) / 2);
	background-repeat: no-repeat;
}

.leer .h3conts .inguia {
	margin-left: calc(var(--imamini-w) + 2.5 * var(--imamini-mh));
	color: var(--h6-c);
}

.leer .h3conts .guia>span {
	flex: 0 0 var(--imamini-w);
	text-align: right;
	margin-top: var(--imamini-mt);
}

.leer .h3conts .guia>span>a {
	display: inline-block;
}

.leer .h3conts .guia>span>a:hover,
.leer .h3conts .guia>span>a:focus {
	transform: scale(1.1);
	text-decoration: none;
}

.leer .h3conts .guia img {
	border-radius: var(--br);
}

.leer .h3conts .cookie {
	margin-top: var(--par-v);
	display: grid;
	grid-template-columns: auto auto 1fr;
	column-gap: var(--mh);
	row-gap: var(--par-v);
}

.leer .h3conts .cookie li {
	margin-top: 0;
}

.leer .h3conts .cookie_headers {
	display: contents;
}

.leer .h3conts .cookie_headers>* {
	font-variant: small-caps;
}

.leer .h3conts ul {
	margin-left: 1em;
	list-style-type: circle;
}

.leer .h3conts ol {
	list-style-type: none;
	counter-reset: steps;
}

.leer .h3conts ol li {
	counter-increment: steps;
}

.leer .h3conts ol li::before {
	content: "[" counter(steps) "] ";
	color: var(--leer-b-c);
}

.leer .h3conts b {
	font-weight: normal;
	color: var(--leer-b-c);
}

.leer .h3conts em {
	font-weight: normal;
	font-style: normal;
	color: var(--leer-em-c);
}

.leer .h3conts small {
	font-size: var(--fs-15);
	color: var(--leer-small-c);
}

.leer .h3conts a {
	color: var(--leer-a-c);
}

.leer .h3conts a:hover,
.leer .h3conts a:focus {
	text-decoration: underline;
}

.leer .h3conts .intra {
	display: flex;
	gap: 1em;
	justify-content: space-evenly;
	align-items: flex-end;
	padding-bottom: var(--caption-v);
}

.leer .h3conts .intra small {
	text-align: center;
}

.leer .h3conts .intra img {
	border-radius: var(--br);
	margin-top: var(--caption-v);
}

.leer .h3conts img.lateral {
	margin-top: var(--imamini-mt);
	margin-bottom: var(--imamini-mb);
	max-width: var(--imamini-w);
	border: var(--leer-deco-bw) solid var(--leer-foto-bc);
	border-radius: var(--br);
}

.leer .h3conts img.stamp {
	border: none;
}

.leer .h3conts img.fleft {
	margin-right: var(--imamini-mh);
}

.leer .h3conts img.fright {
	margin-left: var(--imamini-mh);
}

.leer .h3conts img.larga {
	width: 100%;
	min-height: 5em;
	object-fit: cover;
	margin-top: var(--larga-v);
	border-radius: var(--br);
}

.leer .h3conts img.deco {
	border: var(--leer-deco-bw) solid var(--leer-foto-bc);
}

.leer .h3conts img.perfil {
	width: 100%;
	margin-top: var(--larga-v);
	border-radius: var(--br);
}

.leer .h3conts .media {
	margin-block: var(--video-v);
	border: var(--leer-deco-bw) solid var(--leer-foto-bc);
	border-radius: var(--br);
}

.leer .media iframe,
.leer .media object,
.leer .media embed {
	display: block;
	width: 100%;
	height: auto;
}

.leer .quickLinks {
	margin-top: var(--mh);
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(12.5em, 1fr));
	gap: var(--mh);
}

.leer .quickLinks a {
	display: flex;
	flex-direction: column;
	gap: 0.75em;
	color: var(--sel-c);
	padding: var(--mh-small);
	padding-bottom: calc(var(--mh-small) - 2px);
	border: 1px solid var(--sel-bc);
	border-radius: var(--br);
}

.leer .quickLinks>* {
	text-align: center;
}

.leer .quickLinks b {
	font-size: var(--fs-18);
	padding: 2px 6px 0;
	color: var(--high-c);
	background-image: radial-gradient(circle at top left, var(--high-bg-over), var(--high-bg));
	background-repeat: no-repeat;
	background-color: var(--high-bg-over);
	border-radius: var(--br);
	transition: background-position var(--trans-time) var(--trans-func);
}

.leer .quickLinks a:hover,
.leer .quickLinks a:focus {
	text-decoration: none;
	border-color: var(--sel-bc-over);
	background: hsl(60, 60%, 98%);
	color: var(--sel-c-over);
}

.leer .quickLinks a:hover b,
.leer .quickLinks a:focus b {
	background-position: 350px 0%;
}

.leer #selfi .showbox {
	margin-top: var(--video-v);
	font-size: 0;
}

.leer #selfi .showbox img {
	border: var(--leer-foto-bw) solid var(--leer-foto-bc);
	border-radius: var(--br);
}

.leer #gMap {
	height: var(--map-h);
	margin-block: var(--video-v);
	border: var(--leer-foto-bw) solid var(--leer-foto-bc);
	border-radius: var(--br);
}

.leer #gMap .iw {
	margin-left: 0;
	list-style-type: none;
	text-align: left;
	font-size: var(--fs-15);
	font-family: var(--ff-sans);
}

.leer #gMap .iw li {
	white-space: nowrap;
	line-height: 1.5;
	font-size: inherit;
	margin-top: 0;
}

.leer #gMap .iw li.data {
	color: var(--leer-b-c);
}

.leer #gMap .iw a:hover,
.leer #gMap .iw a:focus {
	color: var(--leer-a-c-over);
	text-decoration: none;
}

.leer #gMap .iw li.thumb a {
	display: inline-block;
	margin: 9px 0 4px;
}

.leer #gMap .iw li.thumb a img {
	border-radius: var(--br);
}

.leer #gMap .iw img.stamp {
	width: 120px;
	padding-left: 5px;
}

#valor {
	display: grid;
	grid-template-columns: repeat(3, max-content) minmax(1px, 1fr);
	column-gap: var(--mh);
	row-gap: 0.4rem;
	align-items: center;
}

#valor .concepto::before {
	content: "p";
	font-family: icomoon;
	text-transform: none;
	font-size: var(--fs-14);
	color: var(--before-c);
	margin-right: var(--label-before-mr);
}

#valor .barra div {
	height: 4px;
	background-color: #fdd;
}

#valor .barra span {
	display: block;
	height: 100%;
	background-color: #a66;
}

#index #valor {
	width: 90%;
	margin: var(--par-v) auto 0;
}

#encuestas #valor {
	margin-top: var(--med-v);
}

#tabla-de-datos tr:nth-child(even) {
	background-color: var(--even-bg);
}

#tabla-de-datos td,
#tabla-de-datos th {
	white-space: nowrap;
	padding: 0.25em 2px;
	font-size: var(--fs-14);
}

#tabla-de-datos th {
	border-bottom: var(--section-b);
	cursor: default;
}

#tabla-de-datos td {
	color: var(--leer-dim-c);
}

#tabla-de-datos td.interes {
	white-space: normal;
}

#descripcion h5 {
	counter-reset: guias;
}

#descripcion .guia {
	counter-increment: guias;
}

#descripcion .guia p::before {
	content: "[" counter(guias) "] ";
	color: var(--leer-b-c);
}

#enlaces .h3conts p {
	counter-increment: enlaces;
}

#enlaces .h3conts p::before {
	content: "[" counter(enlaces) "] ";
	color: var(--leer-b-c);
}


/* #resultados */

#resultados .loading {
	margin-top: calc(2 * var(--par-v) + var(--med-v));
}

#resultados .item {
	margin-top: var(--small-v);
	overflow: hidden;
}

#resultados .item:first-child {
	margin-top: var(--med-v);
}

#resultados .reply {
	margin-top: calc(var(--small-v) / 2);
}

#resultados .nombre {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
	column-gap: var(--mh);
	row-gap: var(--par-v);
	color: var(--leer-b-c);
	cursor: default;
}

#resultados .nombre .left {
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	column-gap: var(--mh);
	row-gap: var(--par-v);
}

#resultados .nombre .right {
	display: flex;
	align-items: baseline;
	column-gap: var(--mh);
}

#resultados .nombre .left * {
	white-space: nowrap;
}

#resultados .nombre .num {
	line-height: 1.3;
	padding: 1px 4px 0;
	color: var(--icon-c);
	background-color: var(--icon-bg);
	border-radius: var(--br);
}

#resultados .nombre .name {
	font-size: var(--fs-18);
}

#resultados .nombre .datelite {
	display: none;
}

#resultados .nombre span.iconfont {
	color: var(--icon-bg);
}

#resultados .nombre a.iconfont {
	opacity: var(--section-opa);
}

#resultados .nombre a.iconfont:hover,
#resultados .nombre a.iconfont:focus {
	text-decoration: none;
	opacity: 1;
	transform: scale(1.1);
}

#resultados .sello {
	background-repeat: no-repeat;
	padding-left: calc(var(--sello-w) + var(--sello-mr));
}

#resultados .loc .reply {
	margin-top: var(--par-v);
}

#resultados .loc .reply p {
	margin-top: 0;
}


/* .seleccion */

.seleccion .h3conts {
	margin-top: var(--med-v);
	line-height: 1.2;
}

.seleccion .h3conts tr:nth-child(even),
.seleccion .h3conts .table>div:nth-child(even) {
	background-color: var(--even-bg);
}

.seleccion .h3conts a {
	display: flex;
	align-items: center;
	column-gap: var(--mh-small);
	border: 1px solid var(--sel-bc);
	border-radius: var(--br);
	padding: 0.5em var(--mh-small) calc(0.5em - 2px);
	color: var(--sel-c);
}

.seleccion .h3conts a[href]:hover,
.seleccion .h3conts a[href]:focus {
	border-color: var(--sel-bc-over);
	background-color: var(--sel-bg-over);
}

.seleccion .h3conts a.current {
	border-color: var(--sel-bc-over);
}

.seleccion .h3conts .via {
	border-radius: var(--br);
	width: 75px;
}

.seleccion .h3conts .title {
	color: var(--sel-b-c);
}

.seleccion .h3conts .subtitle {
	color: var(--sel-c);
}

.seleccion .h3conts .count {
	white-space: nowrap;
	padding: 0.25em 0.4em 0.1em;
	font-size: var(--fs-15);
	color: var(--high-c);
	background-color: var(--high-bg);
	border-radius: var(--br);
	transition: all var(--trans-time) var(--trans-func);
}

.seleccion .h3conts .count i {
	margin-left: 0.15em;
	font-size: var(--fs-13);
	opacity: 0.8;
}

.seleccion .h3conts a:hover .count,
.seleccion .h3conts a:focus .count {
	background-color: var(--high-bg-over);
}

.seleccion .h3conts input {
	cursor: pointer;
}

.seleccion .h3conts .indent {
	margin-left: var(--mh);
}

.seleccion .h3conts .soloyo {}

.seleccion .h3conts .onerow {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: var(--mh);
}

.seleccion .h3conts .table {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 1rem;
}

.seleccion .h3conts .table a {
	column-gap: var(--mh);
	border-color: var(--main-bg);
	padding: 0.8em var(--mh-small);
}

.seleccion .h3conts .table a[href]:hover,
.seleccion .h3conts .table a[href]:focus {
	border-color: var(--sel-bc);
	background-color: var(--sel-bg-over);
}

.seleccion .h3conts .table a:hover .ima,
.seleccion .h3conts .table a:focus .ima {
	opacity: 1;
}

.seleccion .h3conts .table a.current {
	border-color: var(--sel-bc);
}

.seleccion .h3conts .table .variants form {
	display: flex;
	flex-direction: column;
	row-gap: calc(0.65 * var(--mh-small));
	align-items: center;
	color: var(--sel-c);
}

.seleccion .h3conts .table .closed form {
	display: none;
}

.seleccion .h3conts .table fieldset {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: var(--mh);
}

.seleccion .h3conts .table form span {
	display: flex;
	align-items: center;
	column-gap: var(--mh-small);
}

.seleccion .h3conts .table form span:first-of-type {
	flex-direction: row-reverse;
}

.seleccion .h3conts .table form input:checked+label {
	color: var(--sel-b-c);
}

.seleccion .h3conts .table form .set {
	display: inline;
	border: 1px solid var(--sel-bc);
	border-radius: var(--br);
	padding: 0.25em 0.5em;
	background: var(--main-bg);
	color: var(--sel-c);
}

.seleccion .h3conts .table form .set:hover,
.seleccion .h3conts .table form .set:focus {
	border-color: var(--sel-bc-over);
	color: var(--sel-b-c);
}

.seleccion .h3conts .table form :focus {
	outline: 1px dotted #000;
}

.seleccion .h3conts>div .ima {
	transition: all var(--trans-time) var(--trans-func);
	opacity: 0.85;
}

.seleccion .h3conts>div .title {
	white-space: nowrap;
}

.seleccion .h3conts>div .cero {
	display: flex;
	flex-direction: column;
	row-gap: calc(0.9 * var(--mh-small));
}

.seleccion .h3conts>div .uno {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	column-gap: var(--mh);
}

.seleccion .h3conts>div .dos {
	display: flex;
	flex-wrap: wrap;
	column-gap: var(--mh);
}

.seleccion .h3conts td {
	text-align: left;
	vertical-align: middle;
	padding: 0.8em var(--mh-small);
	cursor: default;
}

.seleccion .h3conts td.ima img {
	display: block;
}

.seleccion .h3conts td a {
	flex-wrap: wrap;
	row-gap: 0.3em;
	white-space: nowrap;
}
.seleccion .h3conts td a:hover,
.seleccion .h3conts td a:focus {
	transform: scale(1.1);
	background-color: initial;
}


/* #archivos (plan.php + maps.php) */

#archivos .h3conts table {
	margin-top: var(--med-v);
	line-height: 1.2;
}

#archivos .h3conts tr:nth-child(even) {
	background-color: var(--even-bg);
}

#archivos .h3conts td {
	vertical-align: middle;
	padding: 0.8em var(--mh-small);
	font-size: var(--fs-main);
	color: var(--html-c);
	cursor: default;
}

#archivos .h3conts .ima img {
	min-width: 16px;
	display: block;
}

#archivos .h3conts .action {
	white-space: nowrap;
}

#archivos .h3conts .action a {
	display: inline-block;
	margin-right: var(--mh-mid);
	padding: 0.25em 0.4em 0.1em;
	text-transform: uppercase;
	color: var(--high-c);
	background-color: var(--high-bg);
	border-radius: var(--br);
}

#archivos .h3conts .action a.inactive {
	opacity: var(--submit-op-off);
	cursor: not-allowed;
}

#archivos .h3conts .action a:not(.inactive):hover,
#archivos .h3conts .action a:not(.inactive):focus {
	background-color: var(--high-bg-over);
	transform: scale(1.1);
}


/* .escribe */

#inputmsg {
	position: absolute;
	z-index: 10;
	text-align: right;
	font-family: var(--ff-sans);
	font-size: var(--fs-14);
	color: var(--input-c);
}

.escribe .h3conts {
	display: inline-block;
	width: 100%;
	max-width: var(--article-w);
	/*margin-top: var(--med-v);*/
}

.escribe .h3conts.acenter {
	max-width: initial;
}

.escribe .campos,
.escribe .envia {
	cursor: default;
}

.escribe .campos {
	display: flex;
	flex-direction: column;
	row-gap: var(--campo-pv);
	font-size: var(--fs-main);
}

.escribe .acenter .campos {
	row-gap: calc(var(--campo-pv) * 1.5);
}

.escribe .campo {
	display: flex;
	flex-direction: column;
	/*row-gap: 0.2rem;*/
	white-space: nowrap;
}

.escribe .campo label {
	align-self: flex-start;
	font-size: var(--fs-15);
	text-transform: uppercase;
	color: var(--lab-c);
}

.escribe .campo input,
.escribe .campo textarea,
.escribe .campo select {
	padding: 0.3em 0.5em 0.2em;
	border: 1px solid var(--input-bc);
	background-color: var(--input-bg);
}

.escribe .campo input,
.escribe .campo textarea {
	border-radius: var(--br);
}

.escribe .campo textarea {
	height: 9.6em;
}

.escribe .campo select {
	width: auto;
}

.escribe .g-recaptcha {
	max-height: 100px;
}

.escribe .g-recaptcha * {
	overflow: hidden;
}

.escribe .envia {
	margin-top: var(--small-v);
}

.escribe .envia input {
	padding: 0.3em 2.5em 0.2em;
	color: var(--input-c);
	border: 1px solid var(--input-bc);
	border-radius: var(--br);
	background-color: var(--input-bg);
}

.escribe .envia input.inactive {
	opacity: var(--submit-op-off);
	cursor: not-allowed;
}

.escribe .envia input:not(.inactive):hover,
.escribe .envia input:not(.inactive):focus {
	color: var(--input-c-over);
	background-color: var(--input-bg-over);
	border-color: var(--input-bc-over);
}

.escribe .h3conts:not(.acenter) :not(.radio)>label::before {
	content: "p";
	font-family: icomoon;
	text-transform: none;
	font-size: var(--fs-14);
	color: var(--before-c);
	margin-right: var(--label-before-mr);
}

.escribe .h3conts:not(.acenter) .campo:not(.lista)>*+*,
.escribe .h3conts:not(.acenter) .envia>* {
	margin-left: calc(var(--label-before-mr) + 13px);
}

.escribe legend {
	text-transform: uppercase;
	color: var(--legend-c);
	margin-bottom: 0.2rem;
}

.escribe legend.sub {
	text-transform: none;
	color: var(--legend-sub-c);
}

.escribe .lista>legend:not(.sub)::before {
	content: "p";
	font-family: icomoon;
	text-transform: none;
	font-size: var(--fs-14);
	color: var(--before-c);
	margin-right: var(--label-before-mr);
}

.escribe .lista>*+* {
	margin-left: calc(var(--label-before-mr) + 15px);
}

.escribe .acenter .campo {
	align-items: center;
}

.escribe .acenter input {
	text-align: center;
}

.escribe .acenter .envia {
	text-align: center;
}

.escribe .swapform {
	align-items: flex-end;
}

.escribe .swapform a {
	padding: 0.3em 0.75em calc(0.3em - 2px);
	color: var(--input-c);
	background-color: var(--input-bg);
	border: 1px solid var(--input-bc);
	border-radius: var(--br);
}

.escribe .swapform a:hover,
.escribe .swapform a:focus {
	color: var(--inpu-check-c);
	background-color: var(--input-bg-over);
	border-color: var(--input-bc-over);
}

.escribe .swapform a .iconfont {
	font-size: var(--fs-15);
}

.escribe .swapform a.next .iconfont {
	margin-left: 0.5em;
}

.escribe .lejos {
	padding-top: var(--campo-pv-big);
}

.escribe .horiz {
	display: flex;
	align-items: center;
	column-gap: 1rem;
	position: relative;
}

.escribe .acenter .horiz {
	justify-content: center;
}

.escribe #nombre input {
	width: 100%;
	max-width: 30em;
	display: inline-block;
}

.escribe #fecha input {
	width: 222px;
	display: inline-block;
}

.escribe textarea.baja {
	height: 3.6em;
}

.escribe textarea.alta {
	height: 15.5em;
}

.escribe .campo .clear {
	font-size: var(--fs-main);
	color: var(--leer-b-c);
	opacity: var(--section-opa);
	position: absolute;
	right: 7px;
	z-index: 2;
}

#camporeplyshow {
	position: relative;
}

#camporeplyshow .clear {
	right: 0;
}

.escribe .campo .clear:hover,
.escribe .campo .clear:focus {
	opacity: 1;
}

.escribe .campo td {
	padding: 0 var(--campo-pv-small);
	text-align: right !important;
	vertical-align: middle;
	color: var(--lab-c);
}

.escribe .campo td.dormir {
	text-align: left !important
} 

.escribe .campo .text input {
	width: var(--fs-18);
	height: var(--fs-18);
	padding: 0;
}

.escribe div.radio {
	display: flex;
	align-items: center;
	gap: var(--label-before-mr);
}

.escribe div.radio input+label {
	margin-left: 1em;
}

.escribe table .radio input {
	float: left;
}

.escribe .radio label {
	font-size: var(--fs-main);
	text-transform: none;
}

.escribe .radio input {
	width: var(--fs-15);
	height: var(--fs-15);
	padding: 0;
}

/* .escribe .radio input { width: 1rem; height: 1rem; }  Makes them blurry in Firefox */

.escribe .campo:not(.lista):focus-within>label {
	color: var(--lab-c-over);
}

.escribe .campo:not(.lista):focus-within>label::before {
	color: var(--before-c-over);
}

.escribe .campo.lista:focus-within>legend::before {
	color: var(--before-c-over);
}

.escribe label.checked {
	color: var(--lab-c-over);
}

.escribe :is(input[type="text"], input[type="email"], input[type="date"], textarea, select):focus {
	color: var(--input-c-over) !important;
	border-color: var(--input-bc-focus) !important;
}

.escribe :is(input[type="radio"], input[type="checkbox"]):focus {
	outline: 2px solid hsl(5, 45%, 80%);
}

.escribe label.disabled {
	color: var(--lab-c-dis) !important;
	cursor: default !important;
}

.escribe :is(input, textarea, select):disabled {
	color: var(--input-c-dis) !important;
	border-color: var(--input-bc-dis) !important;
	background-color: var(--input-bg-dis) !important;
	cursor: default !important;
}

#plan .escribe td.text {
	display: none;
}

#plan .escribe td.acum {
	width: 5em;
}

/* Para que no haya saltos al marcar y desmarcar */
#plan .escribe td.acum.checked {
	color: var(--lab-c-over);
}

#plan .escribe td.loc {
	text-align: right;
}

#etapas tr:first-of-type label,
#etapas tr:last-of-type label,
#etapas tr:first-of-type .dormir,
#etapas tr:last-of-type .dormir {
	cursor: default;
}


/* .perfiles (plan.php)*/

.perfiles .h3conts {
	overflow-x: initial;
	font-size: 0;
}

.perfiles .h4box {
	position: relative;
	clear: left;
	display: inline-block;
	max-width: 100%;
	overflow-x: auto;
	margin-top: var(--big-v);
	min-width: 20rem;
	min-height: 2rem;
}

.perfiles .h3conts .icons {
	z-index: 1;
	position: sticky;
	left: 0;
	font-size: var(--fs-social);
	line-height: 1;
}

.perfiles .h3conts .icons.top {
	top: 0.45em;
}

.perfiles .h3conts .icons.top a {
	position: absolute;
	right: 0.4em;
}

.perfiles .h3conts .icons.bottom {
	top: calc(100% - 1.25em);
}

.perfiles .h3conts .icons.bottom a {
	position: absolute;
	left: 0.4em;
}

.perfiles .h3conts .icons a {
	color: var(--icon-bg);
}

.perfiles .h3conts .icons a:hover,
.perfiles .h3conts .icons a:focus {
	color: var(--icon-bg-over);
}

.perfiles .h3conts .h4box .icons {
	opacity: 0;
}

.perfiles .h3conts .h4box.active .icons,
.perfiles .h3conts .h4box:hover .icons {
	opacity: 1;
}

.perfiles .h3conts .perfil {
	position: relative;
	display: block;
	max-width: none;
}


/* #thumbs (galeria.php) */

#thumbs .h3conts {
	margin-top: var(--med-v);
	padding-top: var(--par-v);
	cursor: default;
}

#thumbs h4 {
	margin-top: var(--vsmall-v);
	padding-bottom: var(--small-v);
	scroll-margin-top: var(--scroll-offset);
	font-family: var(--ff-header);
	font-size: var(--fs-h5);
	color: var(--h5-c);
}

#thumbs h4.dim {
	color: #bbb;
	margin-top: 0;
	padding-bottom: var(--big-v);
}

#thumbs figure {
	display: inline-block;
	margin: 0;
	text-align: center;
	vertical-align: bottom;
	width: calc(var(--thumb-w) + var(--thumb-mh));
}

#thumbs figure {
	opacity: 0.85;
}

#thumbs figure:has(a:hover, a:focus) {
	opacity: 1;
}

#thumbs figure:has(a.active) {
	opacity: 0.4;
}

#thumbs figure a {
	display: inline-block;
}

#thumbs figure :is(a:hover, a:focus) {
	scale: 1.1;
}

#thumbs figure a.active {
	cursor: default;
	scale: 1;
}

#thumbs figure img {
	border-radius: var(--br);
}

#thumbs figcaption {
	min-height: var(--thumb-mv);
	margin: 0.5em calc(calc(var(--thumb-mh) / 2) - calc(0.4rem + 0.3vw)) 1em;
	font-size: var(--fs-15);
	line-height: 1.3;
}

#thumbs figcaption b {
	font-weight: normal;
	font-size: var(--fs-15);
}

#thumbs figcaption em {
	font-style: normal;
	font-size: var(--fs-13);
	color: var(--leer-b-c);
}


/* #image (galeria.php + imagen.php) */

#image {
	--fs-h3: var(--fs-24);
	row-gap: var(--vsmall-v);
}

#image .h3bar {
	scroll-margin-top: calc(0.75 * var(--scroll-offset));
}

#image .h3bar h3::before {
	content: none;
}

#image .h3bar h3::after {
	content: none;
}

#image .h3conts {
	margin-top: var(--vsmall-v);
	font-size: 0;
}

#image .showbox>img {
	border: 1px solid var(--leer-foto-bc);
	border-radius: var(--br);
}

#image aside {
	flex-basis: var(--article-w);
}

#image aside>div+div {
	gap: var(--vsmall-v);
}

.meta p {
	white-space: normal;
}

.meta p i {
	font-style: normal;
	color: var(--aside-b-c);
}

.meta p a {
	color: var(--aside-a-c);
}

.meta p a:hover,
.meta p a:focus {
	color: var(--aside-a-over);
}


/* Utility */

.popup {
	max-width: 90vw;
	box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
	border: 1px solid var(--popup-bc);
	border-radius: var(--br);
	padding: 0 var(--popup-m) var(--popup-m);
	background: var(--popup-bg);
	font-family: var(--ff-sans);
	font-size: var(--fs-15);
	color: var(--popup-c);
}
.popup::backdrop {
	/* backdrop-filter: grayscale(30%); */
}

#localize {
	margin-top: 2rem;
	margin-right: max(var(--body-ph), calc((100% - (var(--article-w) + var(--aside-ml) + var(--aside-w))) / 2));
}

#cookieconsent {
	bottom: 0;
	margin-bottom: 2rem;
	margin-right: max(var(--body-ph), calc((100% - (var(--article-w) + var(--aside-ml) + var(--aside-w))) / 2));
}

#profilesettings {
	margin-right: max(var(--body-ph), calc((100% - (var(--article-w) + var(--aside-ml) + var(--aside-w))) / 2));
}
#profilesettings::backdrop {
	background: hsla(0, 0%, 90%, 0.15);
}

.popup h5 {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	margin-top: var(--popup-m);
	padding-bottom: 3px;
}

.popup h5 b {
	font-weight: 400;
	color: var(--popup-b-c);
}

.popup p {
	max-width: 36ch;
	white-space: normal;
	font-size: var(--fs-14);
	padding-bottom: 1px;
	color: var(--popup-b-c);
}

.popup form>p {
	margin-top: 1em;
}

.popup fieldset {
	white-space: nowrap;
	margin-top: 1em
}

.popup legend,
.ui-tooltip h6 {
	margin-bottom: 1px;
	font-size: var(--fs-13);
	text-transform: uppercase;
	color: var(--popup-b-c);
}

.popup label {
	vertical-align: middle;
}

.popup label:not(:first-of-type) {
	margin-left: 1em;
}

.popup input {
	vertical-align: middle;
	margin-left: 0.5em;
}

.popup input[type="range"] {
	width: 100%;
	min-width: 12em;
	margin-left: 0;
}

.popup fieldset.buttons {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 4px;
}

.popup :focus {
	outline: 1px dotted #000;
}

.popup a:not(.iconfont, .set) {
	color: var(--leer-a-c);
}

.popup a:not(.iconfont, .set):hover {
	text-decoration: underline;
}

.popup a.iconfont {
	display: inline-block;
	margin-left: var(--popup-m);
	color: var(--high-bg);
}

.popup a.iconfont:hover {
	transform: scale(1.1);
}

.popup a.set {
	padding: 1px 0.5em;
	color: var(--popup-set-c);
	background: var(--popup-set-bg);
	border: 1px solid var(--popup-set-bc);
	border-radius: var(--br);
}

.popup a.set:hover {
	color: var(--popup-set-c-over);
	background: var(--popup-set-bg-over);
	border-color: var(--popup-set-bc-over);
}

.loading {
	position: relative;
	overflow: hidden;
	height: 0.5rem;
	background-color: #d1d5db;
	border-radius: 9999px;
}

.loading .bar {
	position: absolute;
	bottom: 0;
	top: 0;
	width: 100%;
	background-color: var(--high-bg);
	border-radius: 9999px;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	animation-name: progress-bar;
}

@keyframes progress-bar {
	from {
		left: -100%;
	}

	to {
		left: 100%;
	}
}



/* 5. PLUGINS
/*---------------------------------------------*/

/* Icon fonts */

.iconfont {
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-moz-osx-font-smoothing: grayscale;
}


/* JQuery UI */

.ui-autocomplete {
	font-size: var(--fs-14);
	line-height: 1.1;
}

.ui-tooltip {
	padding: 0 var(--popup-m) var(--popup-m);
	font-family: var(--ff-sans);
	color: var(--popup-c);
	background: var(--popup-bg);
	border: 1px solid var(--popup-bc);
	border-radius: var(--br);
	box-shadow: 0 2px 7px 1px rgba(0, 0, 0, 0.3);
}

.ui-tooltip {
	font-size: var(--fs-15);
	padding-bottom: calc(var(--popup-m) - 2px);
}

.ui-tooltip h6 {
	margin-top: var(--popup-m);
	margin-bottom: 0.5em;
}



/* 6. MEDIA QUERIES
/*---------------------------------------------*/

@media only screen and (max-width: 1023px) {

	section.split {
		flex-wrap: wrap;
	}

	section.split>aside {
		position: initial;
		top: initial;
		max-height: initial;
		overflow-y: initial;
		padding: initial;
	}

	.sidenav {
		display: none;
	}

	.social.hideinright {
		display: flex;
	}

	.donate.hideinright {
		display: block;
	}
}




@media only screen and (max-width: 832px) {

	.seleccion .h3conts td a {
		flex-direction: column;
		align-items: flex-start;
	}

	.seleccion .h3conts>div .dos {
		flex-direction: column;
		row-gap: 0.6rem;
	}

	.seleccion .h3conts .subtitle {
		font-size: var(--fs-15);
	}
}



@media only screen and (max-width: 650px) {
	/* Ya no caben 3 cajas en el footer */

	html {
		--fs-h1: var(--fs-16);
		--fs-h2: var(--fs-32);
		--fs-h2-sub: var(--fs-24);
		--fs-h3: var(--fs-30);
		--fs-tabs: var(--fs-14);
		--fs-footer: var(--fs-15);
		--leer-deco-bw: 1px;
	}


	h1,
	h2,
	h3 {
		word-spacing: 0;
		letter-spacing: 0;
	}

	.h3bar h3 {
		margin-left: calc(-1*var(--body-ph));
		padding-left: var(--body-ph);
	}

	.leer .h3conts {
		overflow-x: visible;
	}

	.leer .h3conts h4::before {
		content: none;
	}

	.leer .h3foto,
	.leer #selfi .showbox,
	.leer .h3conts .media,
	.leer #gMap {
		margin-inline: calc(-1*var(--body-ph));
	}

	.leer .h3foto img,
	.leer #selfi .showbox img,
	.leer .h3conts .media,
	.leer #gMap {
		border-width: calc(var(--leer-foto-bw) * 0.25) 0;
		border-radius: 0;
	}

	.leer .h3conts .intra small {
		font-size: var(--fs-14);
	}

	.leer .h3conts .guia {
		padding-left: 0;
	}

	.leer .h3conts .guia>span {
		display: none;
	}

	.leer .h3conts .inguia {
		margin-left: var(--imamini-mh);
	}

	#image {
		--fs-h3: var(--fs-20);
	}

	#image .h3conts a {
		margin-inline: calc(-1*var(--body-ph));
	}

	#image .h3conts img {
		border-radius: 0;
	}

	.seleccion .h3conts>div .uno {
		flex-direction: column;
		align-items: flex-start;
		row-gap: 0.4rem;
	}

	.seleccion .h3conts>div .dos {
		row-gap: 0.4rem;
	}

	.seleccion .h3conts .title {
		font-size: var(--fs-15);
	}

	.seleccion .h3conts .count {
		display: none;
	}

	#resultados .nombre .date {
		display: none;
	}

	#resultados .nombre .datelite {
		display: inline;
	}

	#resultados .sello {
		background: none !important;
		padding-left: 0;
	}

	#resultados .reply {
		margin-left: var(--mh);
	}

	.escribe .campos,
	.escribe .envia {
		padding-inline: 0;
	}

	.escribe label::before,
	.escribe legend::before {
		content: none !important;
		margin-right: 0 !important;
	}

	.escribe .campo>*,
	.escribe .envia>* {
		margin-left: 0 !important;
	}

	#archivos .h3conts td {
		font-size: var(--fs-15);
	}

	#valor {
		grid-template-columns: repeat(2, max-content) minmax(1px, 1fr);
	}

	#valor .votos {
		display: none;
	}

	#index #valor {
		width: 100%;
	}

	#tabla-de-datos td.localidad {
		white-space: normal;
	}

	#tabla-de-datos .interes,
	#m_gals,
	#m_int {
		display: none;
	}

	#m_sec {
		display: block;
	}
}



@media (prefers-reduced-motion: reduce) {
	html {
		--trans-time: 0.01ms;
	}
}



@media print {

	html {
		--header-v: 11pt;
		--main-v: 45pt;
		--med-v: var(--main-v);
		--small-v: 30pt;
		--fs-h1: 15pt;
		--fs-h2: 20pt;
		--fs-h2-sub: 18pt;
		--fs-h3: 20pt;
		--print-c-main: #333;
		--print-c-sec: #aaa;
	}

	#image {
		--fs-h3: var(--fs-18);
	}

	dialog,
	.noprint,
	#h1 .right,
	#secs,
	.h3bar a,
	aside,
	#navfoot,
	#bye {
		display: none !important;
	}

	#creditos,
	.hrefs {
		display: block;
	}

	.hrefNumber {
		display: inline;
	}

	*:not(.iconfont) {
		font-family: var(--ff-main) !important;
	}

	*:not(#gMap *, tr, td, #valor td.barra *) {
		background: #fff none !important;
	}

	* {
		color: var(--print-c-main) !important;
	}

	body {
		min-height: 0;
		margin: 2%;
	}

	.inner,
	section {
		max-width: auto;
		margin-inline: 0;
		padding-inline: 0;
	}

	section {
		padding-bottom: 0;
	}

	section.split {
		flex-wrap: wrap;
	}

	section.split>article {
		flex-basis: initial;
	}

	h1,
	h2,
	h3 {
		word-spacing: 0;
		letter-spacing: 0;
	}

	#h2 {
		padding-block: var(--header-v);
		border-bottom: 1pt solid var(--print-c-sec);
	}

	h1>*,
	h2 {
		margin: 0;
		padding: 0;
	}

	.h3bar h3 {
		padding-bottom: var(--header-v);
		border-bottom: 1pt solid var(--print-c-main);
	}

	.h3bar h3::before {
		content: none;
	}

	.h3bar h3::after {
		content: none;
	}

	.leer .h3conts h4::before {
		content: none;
	}

	.cajetin,
	.errmsg {
		margin: 0;
		padding: 0;
		padding-block: var(--header-v);
		border: 0;
		border-radius: 0;
		border-bottom: 1pt solid var(--print-c-sec);
	}

	#resultados .sello {
		padding-left: 0;
	}

	#resultados .reply {
		margin-left: var(--mh);
	}

	.escribe label::before,
	.escribe legend::before {
		content: none !important;
		margin-right: 0 !important;
	}

	.escribe .campo>*,
	.escribe .envia>* {
		margin-left: 0 !important;
	}

	pre {
		white-space: pre-wrap !important;
	}

	pre,
	blockquote,
	img,
	#resultados .item {
		page-break-inside: avoid;
	}

	h1,
	h2,
	h3,
	h4 {
		page-break-after: avoid;
	}

	p,
	h1,
	h2,
	h3,
	h4 {
		orphans: 3;
		widows: 3;
	}

	footer {
		margin-top: var(--med-v);
		border-top: 1pt solid var(--print-c-sec);
	}

	#creditos {
		margin-top: var(--header-v);
	}

	.leer .h3conts a:not(.iconfont) {
		text-decoration: underline;
	}
	.leer .h3foto img {
		width: 100%;
	}
	
	h1>*,
	h2,
	.leer .h3conts b,
	.leer .h3conts em,
	.leer .h3conts a,
	.leer .h3conts .pie,
	.hrefs p span,
	.hrefNumber,
	#creditos * {
		color: var(--print-c-sec) !important;
	}
}