@font-face { font-family: 'CiscoSansTT'; font-weight: 600; font-style: normal; src: url('../fonts/CiscoSansTTHeavy.woff') format('woff'); }
@font-face { font-family: "CiscoSansTT"; font-weight: 500; font-style: normal; src: url('../fonts/CiscoSansTTBold.woff') format('woff'); }
@font-face { font-family: "CiscoSansTT"; font-weight: 400; font-style: normal; src: url('../fonts/CiscoSansTTRegular.woff') format('woff'); }
@font-face { font-family: "CiscoSansTT"; font-weight: 300; font-style: normal; src: url('../fonts/CiscoSansTTLight.woff') format('woff'); }
@font-face { font-family: "CiscoSansTT"; font-weight: 200; font-style: normal; src: url('../fonts/CiscoSansTTExtraLight.woff') format('woff'); }
@font-face { font-family: "CiscoSansTT"; font-weight: 100; font-style: normal; src: url('../fonts/CiscoSansTTThin.woff') format('woff'); }

body {
  font-family: CiscoSansTT, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 768px) { 
  .already {
    background: url("../img/cisco-phone.jpg") no-repeat center top;
    background-size: auto 600px;
  }
}

.testimonial {
  background: #0096bb url("../img/testimonial.jpg") no-repeat center;
  background-size: auto 100%;
}

@media (min-width: 990px) {
  .testimonial {
    background-position: right;
  }
}

.light {
  font-weight: 400;
}

.text-white .light {
  font-weight: 300;
}

.heavy {
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  letter-spacing: -0.04rem;
}


.hr {
  margin-top: 6rem;
  border-top: 0.25rem solid;
}

.hr span {
  font-weight: inherit;
  background: #fff;
  position: relative;
  top: -1.6rem;
  padding-right: 0.5rem;
}

.cisco-partner {
  opacity: 0.6;
}

.text-primary {
  color: inherit !important;
}

header.masthead {
  position: relative;
  background: #0096bb url("../img/masthead.jpg") no-repeat top center;
  background-size: cover;
  padding: 4rem 1rem 4rem;
}

.masthead .video-container {
  position: relative;
  /*top: 4rem;*/
  /*margin-bottom: -4rem;*/
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.bg-blue {
  background-color: #0096bb;
}

.showcase {
  padding: 2rem 1rem 6rem;
}

.showcase .showcase-text {
  /*padding: 0 15px;*/
}

.showcase .showcase-img {
  min-height: 16rem;
  background-color: transparent;
  background-size: contain;
  background-position: right;
  background-repeat: no-repeat;
  border: 1rem solid white;
}

/*
@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 1rem 3rem;
  }
  .showcase .showcase-img {
    min-height: 20rem;
  }
}
*/

.features-icons .features-icons-item {
  /*max-width: 20rem;*/
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
  color: #fff;
  background: #00BCEA;
/* border-radius: 0.3rem;
  text-shadow: 0 1px 4px rgba(0,0,0,0.2);
  box-shadow: inset 0 1px 4px rgba(0,0,0,0.2);*/
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  background: url("../img/masthead.jpg") no-repeat center center;
  background-size: cover;
  padding-top: 6rem;
  padding-bottom: 6rem;
}


footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

a {
  color: #00BCEA;
}

a:hover {
  color: #1F4F70;
}

.btn-primary.call {
  margin: 0.5rem 0;
}

.btn-primary {
  background-color: #00BCEA;
  border-color: #00BCEA;
}

.btn-primary {
  border-radius: 10rem;
}

.btn-primary:hover,
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: #1F4F70;
  border-color: #1F4F70;
}

.navbar-brand {
  width: 128px;
  height: 50px;
  margin: 0.5rem 1rem 0.5rem 0;
  background: url("../img/vox-logo.png") left/auto 100% no-repeat;
  text-indent: -1000em;
  overflow: hidden;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;

}