* {
	margin: 0;
	border: 0;
	border-spacing: 0;
	padding: 0;
	outline: none;
	list-style: none;
	-webkit-text-size-adjust: 100%;
}

body {
	padding: 20px;
	color: #404040;
	background: #fff;
	font: 12px/20px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#index>div {
	float: left;
}

#index 	{ 
	padding: 20px 0 0 20px; 
}

#index:after,
#log:before {
	content: '';
	display: block;
}

#index:after { 
	clear: both; 
}

#log:before {
	float: right;
	width: 155px;
	height: 235px;
	margin: 0 0 20px 20px;
}

a:hover,
a:hover:before,
a:hover:after,
a:hover b {
	-webkit-transition: all .1s;
	-moz-transition: all .1s;
	-ms-transition: all .1s;
	transition: all .1s;
}

nav,
nav div,
nav table,
nav b,
nav td a,
nav a:before,
nav a:after {
	border-radius: 2px;
}

nav {
	display: block;
	width: 155px;
	text-align: center;
	line-height: 18px;
	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
	cursor: default;
}

nav.clear { clear: left; }

#index nav,
#index nav+ul {
	float: left;
	margin: 0 20px 20px 0;
}

#index nav+ul {
	height: 140px;
	width: 155px;
	padding: 5px 0;
}

#log nav {
	position: fixed;
	top: 15px;
	right: 15px;
	padding: 0 5px;
	background: #fff;
	box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

#index nav,
#log nav > * {
	color: #c0c0c0;
	background: #f0f0f0;
	box-shadow: inset 0 1px 2px #c0c0c0;
}

#log nav > * 	{ margin: 5px 0; }
nav div 		{ position: relative; min-height: 18px; padding: 6px; }
nav table 		{ width: 100%; padding: 5px; }
nav header		{ margin: -4px 0 6px; }
nav caption 	{ width: 0; margin: 1px 0 -19px -6px; }
nav caption.br 	{ margin-bottom: 1px; }

@media only screen and (max-width: 370px) {

	#log:before {
		display: none;
	}

	#log nav {
		position: static;
		margin: -5px -5px 15px;
		background: transparent;
		box-shadow: none;
	}

}

nav a		{ text-decoration: none; }
nav b		{ font-weight: normal; }
nav i 		{ font-style: normal; }
nav span 	{ display: none; }

nav a,
nav b 		{ color: #404040; }
nav td > * 	{ display: block; }
nav td		{ padding: 1px; }

nav td a { 
	margin: -1px;
	border: 1px solid #f0f0f0;
	border-radius: 3px;
}

nav a.a 	{ background: #ff8000; }
nav a.b 	{ background: #ffc080; }
nav a.c 	{ background: #ffe0c0; }
nav a.d 	{ background: #fff0e0; }

nav b,
nav a:hover b,
nav a:focus b,
nav td a:hover,
nav td a:focus,
nav a:hover:before,
nav a:focus:before,
nav a:hover:after,
nav a:focus:after {
	background: #fff;
}

nav b { 
	position: relative; 
	z-index: 1;
	box-shadow: 0 1px 2px #c0c0c0; 
}

nav a b {
	background: transparent;
	box-shadow: none;
}

nav header b,
nav caption b,
nav div b {
	margin: 0 1px;
	padding: 1px 4px;
}

nav div a,
nav div i {
	position: absolute;
	top: 7px;
	font: 18px/14px Verdana;
	z-index: 10;
}

.index  { left: 6px; right: 6px; font: inherit; }
.l, .ll { text-align: left; }
.r, .rr { text-align: right; }
.ll     { left: 6px; right: 83.33%; }
.l      { left: 16.67%; right: 50%; }
.r      { left: 50%; right: 16.67%; }
.rr     { left: 83.33%; right: 6px; }

.ll:after    { content: '«'; }
.rr:before   { content: '»'; }
.l:after, 
.ll.x:after  { content: '‹'; }
.r:before, 
.rr.x:before { content: '›'; }

.ll:after,
.l:after,
.r:before,
.rr:before {
	display: inline-block;
	width: 10px;
	padding: 0 4px 2px;
}

.ll.x:before,
.rr.x:after { 
	content: '|';
	position: absolute;
	background: transparent;
	font-size: 10px;
	font-weight: bold;
}

.ll.x:before { left: 4px; }
.ll.x:after  { padding: 0 1px 2px 7px; }
.rr.x:before { padding: 0 7px 2px 1px; }
.rr.x:after  { right: 4px; }

li {
	padding-left: 10px;
	text-indent: -10px;
}

li.beep,
li.kick,
li.presence,
li.roll,
li.status {
	color: #a0a0a0;
}

li a { 
	color: #0080ff; 
}

li a:hover,
li a:focus { 
	color: #80c0ff; 
}