@font-face { font-family: 'CiscoSansTT'; font-weight: 600; font-style: normal; src: url('fonts/CiscoSansTTHeavy.woff') format('woff'); }
@font-face { font-family: "CiscoSansTT"; font-weight: 500; font-style: normal; src: url('fonts/CiscoSansTTBold.woff') format('woff'); }
@font-face { font-family: "CiscoSansTT"; font-weight: 400; font-style: normal; src: url('fonts/CiscoSansTTRegular.woff') format('woff'); }
@font-face { font-family: "CiscoSansTT"; font-weight: 300; font-style: normal; src: url('fonts/CiscoSansTTLight.woff') format('woff'); }
@font-face { font-family: "CiscoSansTT"; font-weight: 200; font-style: normal; src: url('fonts/CiscoSansTTExtraLight.woff') format('woff'); }
@font-face { font-family: "CiscoSansTT"; font-weight: 100; font-style: normal; src: url('fonts/CiscoSansTTThin.woff') format('woff'); }

html {
  scroll-behavior: smooth;
}

body {
  color: #202020;
  font-family: CiscoSansTT, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

a         { color: #00BCEA; }
a:hover   { color: #1F4F70; }
p, ul, ol { color: #505050; }

ul, ol {
  padding-left: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  letter-spacing: -0.04rem;
}

.light          { font-weight: 400; }
.bg-blue .light { font-weight: 300; }

.bg-blue,
.bg-blue p,
.bg-blue ul,
.bg-blue ol {
  color: #fff;
}

header,
section {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

header  { padding: 6rem 1rem 1rem; }
section { padding: 6rem 1rem; }
footer  { padding: 4rem 1rem; }

.masthead { 
  padding: 4rem 1rem 0;
  background-image: url("img/bg-masthead.jpg"); 
  background-position: top center; 
}

.bg-gray  { background-color: #f0f0f0; }
.bg-blue  { background-color: #0096bb; }
.skyline  { background-image: url("img/bg-skyline.jpg");  }
.ceiling  { background-image: url("img/bg-ceiling.jpg"); background-position: bottom center; }
.happy    { background-image: url("img/bg-happy.jpg"); }

@media (max-width: 576px) {
  .call span {
    display: none;
  }
  header.masthead {
    background-image: none;
  }
}

@media (min-width: 768px) { 
  .already {
    background: url("img/bg-phone.jpg") no-repeat center top;
    background-size: auto 500px;
  }
}

label small   { color: #a0a0a0; }
::placeholder { color: #c0c0c0 !important; }

.hr {
  margin-bottom: 1rem;
  border-bottom: 0.2rem solid;
}

.hr span {
  font-weight: inherit;
  background: #fff;
  position: relative;
  top: 0.65rem;
  padding-right: 1rem;
}

.o6 {
  opacity: 0.6;
}

.masthead .video-container {
  position: relative;
  /*top: 4rem;*/
  margin-bottom: -4rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.showcase .showcase-img {
  min-height: 16rem;
  background-color: transparent;
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  border: 1rem solid #f0f0f0;
  border-radius: 1.5rem;
}

.form-header {
  background-size: cover;
  padding: 1.5rem;
  border-radius: 0.5rem 0.5rem 0 0;
  border: 0.1rem solid #e6e6e6;
  border-bottom: 0;
}

.form-header + form {
  border-radius: 0 0 0.5rem 0.5rem;
}

form {
  background: #f0f0f0;
  padding: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: inset 0 1px 4px rgba(0,0,0,0.1);
}

.btn-lg {
  font-size: 1.1rem;
}

.features-icons {
  text-align: center;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
  color: #00BCEA;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.contact {
  margin: 0.5rem 0;
}

.social {
  font-size: 1.5rem;
}

.call {
  font-size: 1rem;
  color: #fff;
  background-color: #00BCEA;
  border-color: #00BCEA;
  border-radius: 10rem;
  white-space: nowrap;
}

.call:hover,
.call:not(:disabled):not(.disabled):active, .call:not(:disabled):not(.disabled).active,
.show > .call.dropdown-toggle {
  color: #fff;
  background-color: #1F4F70;
  border-color: #1F4F70;
}

.call .fas {
  font-size: 90%;
}

.navbar {
  background: #fff;
}

.navbar.sticky-top {
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.navbar-brand {
  width: 128px;
  height: 50px;
  margin: 0.5rem 1rem 0.5rem 0;
  background: url("img/vox-logo.png") left/auto 100% no-repeat;
  text-indent: -1000em;
  overflow: hidden;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}

.video-overlay,
.video-overlay img,
.video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video-overlay {
  z-index: 1;
}

.video-overlay:hover {
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

.video-overlay:hover:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.2);
}

.headshot {
  max-width: 12rem;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2)
}