@import url("default.css");

* {
   margin: 0;
   padding: 0;
}

body {
   color: #404040;
   background: #fff;
   min-width: 38em;
}

body, input, textarea,  button {
   font-family: Palatino, "Palatino Linotype", "Book Antiqua", "Times New Roman", Times, serif;
}

a              { color: #903030; }
a:visited         { color: #606060; }
a:hover,
a:focus,
a:active       { color: #c06060; }
a:active          { position: relative; top: 1px; }
#header h1 a:active  { top: 0; }

a[id] { position: relative; top: -100px; font-size: 1px; }

.i          { font-style: italic; }
.hide          { display: none; }
.clear            { clear: both; }


/* ---------- HEADER ---------- */

#container           { margin-top: 64px; }
.CanvasPage #container  { margin-top: 0; }

#header {
   position: fixed;
   top: 0;
   z-index: 100;

   width: 100%;
   min-width: 38em;
   height: 64px;
   padding-bottom: 9px;

   background: url("shadow-header.png") bottom repeat-x;
}

#header a {
   margin: -1px 0;
   padding: 1px 0;
   display: block;

   text-decoration: none;
}

#header h1 {
   height: 35px;
   padding-top: 1px;

   background: #404040 url("glow.gif") center repeat-y;

   font-size: 100%;
   line-height: 1.0;
   text-indent: -1000em;
}

#header h1 span {
   display: block;
   width: 165px;
   height: 17px;
   margin: 9px auto 10px;

   background: url("headernew.gif") center no-repeat;
}

#header h1 span         { background-position: top; }
#header h1 a:hover span    { background-position: center; }
#header h1 a:focus span    { background-position: center; }
#header h1 a:active span   { background-position: bottom; }

#deframe {
   position: fixed;
   z-index: 200;
   top: 0;
   left: 0;
}

#deframe a {
   display: block;
   padding: 8px 10px;
}

#deframe a span {
   display: block;
   width: 18px;
   height: 20px;
   background: url("deframe.gif") left;
   text-indent: -1000em;
}

#deframe a:hover span,
#deframe a:focus span {
   background-position: center;
}

#deframe a:active {
   top: 0;
}

#deframe a:active span {
   background-position: right;
}

#addframe {
   position: fixed;
   z-index: 200;
   top: 0;
   left: 0;
}

#addframe a {
   display: block;
   padding: 8px 9px 5px;
}

#addframe a span {
   display: block;
   width: 20px;
   height: 23px;
   background: url("addframe.png") left;
   text-indent: -1000em;
}

#addframe a:hover span,
#addframe a:focus span {
   background-position: center;
}

#addframe a:active {
   top: 0;
}

#addframe a:active span {
   background-position: right;
}

#header form {
   position: absolute;
   top: 0;
   right: 0;
   height: 18px;
   overflow: hidden;
   padding: 18px 8px 0 28px;
   background: url("search.gif") 8px 50% no-repeat;
}

#header form div {
   margin-top: -0.58em;
}

#header input[type="text"] {
   width: 15.625em;
   margin-left: -1000em;
   border: 1px solid #c0c0c0;
    border-top-color: #808080;
    border-bottom-color: #e0e0e0;
    background: #fff url("inputshadow.gif") top repeat-x;
      padding: 0.1818em 0.2727em;
   font-size: 70%;
   font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Verdana, sans-serif;
}

#header form:hover input[type="text"],
#header input[type="text"]:focus {
   margin-right: 0;
   margin-left: 4px;
}

#header input[type="submit"] {
   display: none;
}

#header h2 {
   position: relative;
   cursor: default;

   height: 27px;
   border-top: 1px solid #505050;

   color: #c0c0c0;
   background: #303030 url("h2shadow.gif") top repeat-x;

   font-size: 100%;
   font-family: Futura, "Century Gothic", "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-weight: normal;
   text-transform: uppercase;
   line-height: 1.0;
}

#header h2 a {
   position: absolute;
   z-index: 2;
   cursor: pointer;

   width: 100%;
   height: 26px;

   color: #808080;
}

#header h2 a:hover,
#header h2 a:active,
#header h2 a:focus { color: #c0c0c0; }

#header h2 a.prev,
#header h2 a.next { width: 50%; }
#header h2 a.prev { left: 0; }
#header h2 a.next { right: 0; }


#header h2 span {
   position: absolute;
   top: 50%;

   display: block;
   width: 100%;
   margin-top: -0.5em;

   font-size: 75%;
   text-align: center;
   letter-spacing: 0.167em;
   line-height: 1.0;
}


.MainPage #header h2 a:hover span:first-child,
.MainPage #header h2 a:active span:first-child,
.CommentPreviewPage #header h2 a:hover span:first-child,
.CommentPreviewPage #header h2 a:active span:first-child,
.CommentErrorPage #header h2 a:hover span:first-child,
.CommentErrorPage #header h2 a:active span:first-child   { display: none; }

.MainPage #header h2 a:hover span + span:after,
.MainPage #header h2 a:active span + span:after    { content: "Permalink"; }

.CommentPreviewPage #header h2 a:hover span + span:after,
.CommentPreviewPage #header h2 a:active span + span:after,
.CommentErrorPage #header h2 a:hover span + span:after,
.CommentErrorPage #header h2 a:active span + span:after  { content: "Return to entry"; }

#header h2 a.prev span,
#header h2 a.next span { font-size: 100%; line-height: 0.75; }
#header h2 a.prev span { right: 72px; text-align: right;}
#header h2 a.next span { left: 72px; text-align: left;}



/* ---------- TOP LEVEL ---------- */


#canvas        { position: relative; }
.EntryPage #canvas   { overflow: auto; }
.CanvasPage #canvas { position: absolute; min-width: 100%; min-height: 100%; border: 0; }

#canvas,
#search-box       { background: #fff; }
#search-results,
#archives,
#links            { background: #f0f0f0 url("fade.gif") top repeat-x; }
#comments         { background: #f0f0f0 url("fade-shadow.gif") top repeat-x; }
#error            { color: #fff;
                 background: #900 url("error-fade.gif") top repeat-x;
                 border-bottom: 1px solid #f0f0f0; }
#error > div      { background: url("error.png") center no-repeat; }
#comment-form     { background: #e0e0e0 url("fade-shadow-dark.gif") top repeat-x; }
#recent, #footer  { background: url("shadow-top.png") top repeat-x;
                 padding-top: 6px; margin-top: -6px; }
#recent > div     { background: #404040 url("glow.gif") center fixed repeat-y; border-top: 1px solid #f7f7f7; }

.CommentPreviewPage #comments {
   background-image: url("fade.gif");
}

#error p {
   margin-bottom: 0.8em;

   font-size: 94%;
   line-height: 1.47;
   text-align: center;
}

#search-box > div,
#search-results > div,
#archives > div,
#links > div,
#comments > div,
#error > div,
#comment-form > div,
#recent > div > div,
#footer > div {
   width: 32em;
   margin: 0 auto;
   padding: 1.75em 3em 1.25em;
   overflow: hidden;
}


#recent > div > div {
   padding-bottom: 0.25em;
}


/* ---------- SECTION HEADERS ---------- */

#comments { color: #606060; }

#comments > div > h3,
#links h3 {
   margin-bottom: 1.85em;

   color: #606060;

   font-size: 82%;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 0.077em;
   line-height: 1.3;
   text-align: center;
}

#links h3 {
   margin: 1.69em 0 0;
   line-height: 1.69;
}

#links h3:first-child {
   margin-top: 0;
}

#comments h3.link,
#comments h3.none { margin-bottom: 0.8em; }

#comments h3.off,
#comment-form h3.off { margin-bottom: 0.8em; color: #a0a0a0; }

#comments > div > h3:before,
#links h3:before  { margin-right: 0.8em; content: url("fleuron-left-96.png"); }
#comments > div > h3:after,
#links h3:after   { margin-left: 0.8em; content: url("fleuron-right-96.png"); }

#comments h3.link a {
   display: block;
   padding: 0.8em 0;
   margin: -0.8em 0;

   color: #808080;

   text-decoration: none;
}

#comments h3.link a:before    { margin-right: 0.8em; content: url("fleuron-left-128.png"); }
#comments h3.link a:after  { margin-left: 0.8em; content: url("fleuron-right-128.png"); }

#comments h3.link a:hover,
#comments h3.link a:focus,
#comments h3.link a:active { color: #606060; }

#comments h3.link a:hover:before,
#comments h3.link a:focus:before,
#comments h3.link a:active:before { content: url("fleuron-left-96.png"); }

#comments h3.link a:hover:after,
#comments h3.link a:focus:after,
#comments h3.link a:active:after { content: url("fleuron-right-96.png"); }

#comments h3.off:before, #comments h3.off:after,
#comments h3.none:before, #comments h3.none:after,
#comments h3.link:before, #comments h3.link:after,
#comments h3.none a:before, #comments h3.none a:after { display: none; }


/* ---------- COMMENTS ---------- */

#comments dl {
   margin: 0 -2px 0;
}

#comments dt {
   margin: 0.6em -0.38em 1em;
   border: 1px solid #fff;
   border-top-color: #e7e7e7;

   background: #f7f7f7;
}

#comments dt.alex {
   border: 0;
   padding: 2px 1px 1px;
   background: transparent;
}

#comments dt.alex strong {
   font-weight: normal;
}

#comments dt a          { text-decoration: none; }
#comments dt .timestamp + span   { display: none; }

#comments dt span.author {
   display: block;
   padding: 0.35em 0.35em 0.15em;
   border: 1px solid #e7e7e7;
   border-top-color: #fff;

   font-size: 108%;
   line-height: 1.0;
}

#comments dt.alex span.author {
   border-left-color: #b0b0b0;

   border-right-color: #b0b0b0;
   border-bottom-color: #a0a0a0;
   border-top: 0;
   color: #fff;
   background: #c0c0c0;
}

#comments dt span.author a       { color: #606060; }


#comments dt span.author a:after {
   content: "\00bb";
   margin-left: 0.3em;

   color: #a0a0a0;
}

#comments dt span.author a[id]:after {
   content: "";
   margin: 0;
}

#comments dt span.author a:hover:after,
#comments dt span.author a:focus:after,
#comments dt span.author a:active:after {
   color: #606060;
}

#comments dt .timestamp {
   float: right;

   display: block;
   width: 12em;
   padding: 1.03em 0.6em 0;

   color: #a0a0a0;

   font-size: 70%;
   line-height: 1.0;
   text-transform: uppercase;
   letter-spacing: 0.09em;
   text-align: right;
   white-space: nowrap;
}

#comments dt.alex .timestamp {
   color: #f0f0f0;
}

#comments dt a.timestamp:hover,
#comments dt a.timestamp:focus,
#comments dt a.timestamp:active { color: #606060; }


#comments dt.alex a.timestamp:hover,
#comments dt.alex a.timestamp:focus,
#comments dt.alex a.timestamp:active { color: #fff; }

#comments dd {
   padding: 0 2px 0.2em;
}


/* ---------- COMMENT FORM ---------- */

#comment-form fieldset        { border: 0; }
#comment-form fieldset legend    { display: none; }
#comment-form fieldset ol     { list-style-type: none; }
#comment-form div[style]      { overflow: hidden; }

#comment-form a      { color: #808080; text-decoration: none; }
#comment-form a:hover,
#comment-form a:focus,
#comment-form a:active  { color: #606060; }

#comment-form input[type="text"],
#comment-form textarea {
   display: block;
      padding: 0.2667em 0.2em 0.1333em;
   border-top: 1px solid #c0c0c0;
   border-left: 1px solid #d0d0d0;
   border-right: 1px solid #d0d0d0;
   border-bottom: 0;

   color: #404040;
   background: #f7f7f7;

   font-size: 94%;
}


#comment-form input[type="text"]:focus,
#comment-form textarea:focus {
   background: #fff;
}

#comment-form input[type="text"] {
   width: 10.85em; /* value for Safari, see end of stylesheet */

   line-height: 1.2;
}

#comment-form textarea {
   height: 7.5em;
   min-height: 7.5em;
   width: 34em; /* value for Safari, see end of stylesheet */

   line-height: 1.47;
}

#comment-form li.commentbox {
   margin-bottom: 0.2em;
}

#comment-form label {
   color: #808080;
}

#comment-form label > span:first-child {
   font-size: 70%;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 0.09em;
   line-height: 1.0;
}

#comment-form li.commentbox label + span {
   display: block;
   margin: -1em 0 0.15em;

   color: #a0a0a0;

   font-size: 82%;
   line-height: 0.85;
   letter-spacing: 0;
   text-transform: none;
   font-weight: normal;
   text-align: right;
}

#comment-form li.commentbox label + span abbr { font-size: 70%; font-weight: bold; letter-spacing: 0.11em; border: 0; }
#comment-form li.commentbox label + span span,
#comment-form li.commentbox label + span + br { display: none; }

#comment-form li.author,
#comment-form li.email,
#comment-form li.url {
   width: 10.15em;
   margin-bottom: 0.78em;
   float: left;
}

#comment-form li.author,
#comment-form li.email {
   margin-right: 0.75em;
}

#comment-form div.submit {
   clear: both;

   height: 1.75em;
   margin-bottom: 0.8em;
   border-top: 1px solid #c0c0c0;
   border-left: 1px solid #d0d0d0;
   border-right: 1px solid #d0d0d0;

   background: #f7f7f7;
}

#comment-form div.remember {
   float: left;
   clear: left;

   width: 9.4em;
   height: 0.75em;
   padding: 0.25em;
   margin: 0.25em;
}

#comment-form div.remember input {
   float: left;
   display: block;
}

#comment-form div.remember span {
   display: block;
   margin-left: 18px;

   font-size: 82%;
   line-height: 1.0;
   font-weight: normal;
   text-transform: none;
   letter-spacing: 0;
}

#comment-form fieldset div.buttons {
   float: right;

   width: 9.9em;
   height: 1.25em;
   white-space: nowrap;
}

#comment-form div.buttons > span {
   float: left;

   display: block;
   padding: 0 0 1px;
   margin: 0.25em 0;
   border: solid #d0d0d0;
   border-width: 0 1px;

   background: #c0c0c0;
}

#comment-form div.buttons > span:first-child {
   margin-left: -4px;
   margin-right: 0.25em;
}

#comment-form div.buttons button {
   display: block;
   width: 5.75em;
   height: 1.08em; /* value for Safari, see end of stylesheet */
   padding: 0.32em 0 0.18em; /* value for Safari, see end of stylesheet */
   margin: 0;
   border: 0;

   color: #808080;
   background: #fff;

   font-size: 82%;
   line-height: 1.0;
   text-align: center;
}

#comment-form fieldset div.buttons span + span button { font-weight: bold; }

#comment-form fieldset div.buttons button:hover,
#comment-form fieldset div.buttons button:focus,
#comment-form fieldset div.buttons button:active { color: #404040; }
#comment-form fieldset div.buttons button:active { position: relative; top: 1px; }


/* ---------- RECENT ---------- */

#recent-entries,
#recent-comments {
   width: 15.1em;
   color: #808080;
}

#recent-entries {
   float: left;
}

#recent-comments {
   float: right;
}

#recent h2 {
   margin: 0 12px 0.73em 0;
   border-bottom: 1px solid #606060;
   position: relative;

   color: #808080;

   font-size: 70%;
   line-height: 1.0;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 0.09em;
}

#recent h2 > span {
   position: relative;
   top: 0.31em;

   padding-right: 0.36em;

   background: #404040 url("glow.gif") center fixed repeat-y;
}

#recent h2 span span {
   color: #c0c0c0;
}

#recent h2 a img {
   display: none;
}

#recent h2 a {
   width: 16px;
   height: 16px;
   position: absolute;
   bottom: -5px;
   right: -16px;

   background: url("feed.png") top no-repeat;
}

#recent h2 a:hover,
#recent h2 a:focus,
#recent h2 a:active {
   background-position: bottom;
}

#recent ul {
   margin: 0 -0.62em;
   padding: 0.31em 0 1.69em;
   list-style-type: none;

   font-size: 82%;
   line-height: 1.38;
}

#recent li a {
   display: block;
   padding: 0 0 0 14px;
   border: solid transparent;
   border-width: 0.46em 0.62em;
   color: #c0c0c0;
   text-indent: -14px;
   text-decoration: none;
}

#recent li a:hover,
#recent li a:focus,
#recent li a:active {
   border-left-color: #303030;
   border-right-color: #303030;

   color: #e0e0e0;
   background: #303030;
}

#recent-entries li a span + span,
#recent-log li a span.sum           { color: #808080; }
#recent-entries li a:hover span + span,
#recent-entries li a:focus span + span,
#recent-entries li a:active span + span,
#recent-log li a:hover span.sum,
#recent-log li a:focus span.sum,
#recent-log li a:active span.sum       { color: #a0a0a0; }

#recent-entries li a span:first-child + span    { font-size: 85%; }
#recent-entries li a span:first-child:before    { margin-right: 4px; content: url("asterisk-light.png"); }

#recent-log li a span.sum {
   display: block;
   height: 1.63em;
   overflow: hidden;
   font-size: 85%;
   line-height: 1.63;
   text-indent: 0;
}

#recent-entries li a span:first-child + span + span,
#recent-comments li a cite + span,
#recent-comments li a cite + span + span + span    { display: none; }
#recent-comments li a cite + span + span:before    { margin: 0 0.308em; content: url("asterisk-light.png"); }


/* ---------- ARCHIVES ---------- */

#archives h3,
#archives ul span.date {
   margin-top: 0.335em;

   color: #606060;

   font-size: 82%;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 0.077em;
   line-height: 1.08;
   white-space: nowrap;
}

#archives h3 {
   float: left;

   width: 17.23em;

   word-spacing: 0.077em;
   text-align: right;
}

#archives ul {
   margin-left: 14.13em;
   margin-bottom: 0.8em;

   list-style-type: none;
}

#archives ul span.date {
   float: left;
   white-space: nowrap;

   display: block;
   width: 2.3em;

   word-spacing: 0.077em;
   text-align: right;
}

#archives ul a {
   display: block;
   margin-left: 2.42em;

   color: #606060;

   font-size: 94%;
   line-height: 1.47;
   text-decoration: none;
}

#archives ul a:hover,
#archives ul a:focus,
#archives ul a:active { color: #a0a0a0; text-decoration: underline; }

#archives ul a span {
   color: #a0a0a0;

   font-size: 87%;al
}


/* ---------- SEARCH ---------- */

#search-results h3 {
   padding: 0.2em 0;
   border-left: 1px solid #b0b0b0;
   border-right: 1px solid #b0b0b0;
   border-bottom: 1px solid #a0a0a0;
   margin: 0 -1px 1.5em;
   font-size: 94%;
   line-height: 1.47;
   color: #fff;
   background: #c0c0c0;
   font-weight: normal;
}

#search-results h3 span {
   float: left;
   display: block;
   width: 6.07em;
   margin-top: 3px;
   text-align: right;
   white-space: nowrap;
}

#search-results h3 input[type="text"] {
   display: block;
   width: 27.33em;
   margin-left: 6.47em;
   border-top: 1px solid #a0a0a0;
   border-left: 1px solid #b0b0b0;
   border-right: 1px solid #b0b0b0;
   border-bottom: 0;
   color: #404040;
    background: #fff;
      padding: 0.2667em 0.2em 0.1333em;
      font-size: 100%;
      line-height: 1;
}

#search-results h3 input[type="submit"] {
   display: none;
}

#search-results dt span.date {
   display: block;
   float: left;
   width: 7em;
   margin-top: 0.335em;

   color: #606060;

   font-size: 82%;
   word-spacing: 0.077em;
   font-weight: bold;
   text-transform: uppercase;
   letter-spacing: 0.077em;
   line-height: 1.08;
   text-align: right;
   white-space: nowrap;
}

#search-results dt a {
   display: block;
   margin-left: 6.47em;
   color: #606060;

   font-size: 94%;
   line-height: 1.47;
   text-decoration: none;
}

#search-results dt a:hover,
#search-results dt a:focus,
#search-results dt a:active { color: #a0a0a0; text-decoration: underline; }

#search-results dt a span {
   color: #a0a0a0;

   font-size: 87%;
}

#search-results .message,
#search-results dd {
   margin-left: 7.46em;
   margin-bottom: 1em;
   clear: both;

   color: #a0a0a0;

   font-size: 82%;
   line-height: 1.47;
}

#search-results .message {
   color: #606060;
}

#search-results .message pre,
#search-results .message code {
   font-family: Monaco, "Lucida Console", Andale Mono, monospace;
   font-size: 11px;
}

#search-results .message pre {
   margin: 0 0 1em 1.4em;
   line-height: 1.73;
}

#search-results .message strong {
   font-size: 115%;
   font-weight: normal;
   color: #a0a0a0;
}


/* ---------- ABOUT ---------- */

#about {
   min-height: 298px;
   padding: 1px;
   background: #000 url("selfportrait.jpg") top left no-repeat;
}

#about h4 {
   display: none;
}

#about .text {
   margin: 85px 0 0 200px;
   padding: 1em;

   color: #c0c0c0;

   font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
   font-size: 100%;
   line-height: 1.38;
   text-transform: lowercase;
   white-space: nowrap;
}

#about .text p {
   float: left;
   width: 5em;
   text-align: right;
}

#about .text ul {
   margin: 0 0 1em 5.25em;
}

#about .text li {
   list-style-type: none;
}

#about abbr {
   border: 0;
   font-size: 100%;
   text-transform: lowercase;
   font-weight: normal;
   letter-spacing: 0;
}

#about a {
   color: #fff;
   text-decoration: none;
}

#about a:hover,
#about a:focus,
#about a:active {
   text-decoration: underline;
}


/* ---------- LINKS ---------- */

#links .left,
#links .right {
   width: 16em;
}

#links .left {
   float: left;
}

#links .right {
   float: right;
}

#links ul {
   margin-bottom: 0.8em;

   list-style-type: none;
}

#links ul a {
   display: block;

   color: #606060;

   text-align: center;
   text-decoration: none;
}

#links ul a:hover,
#links ul a:focus,
#links ul a:active { color: #a0a0a0; }

#links ul a:hover span span,
#links ul a:focus span span,
#links ul a:active span span,
#links ul a:hover span + span,
#links ul a:focus span + span,
#links ul a:active span + span,
#links ul.no-author a:hover,
#links ul.no-author a:focus,
#links ul.no-author a:active { text-decoration: underline; }

#links li a > span {
   display: block;
}

#links li a > span:first-child {
   float: left;
   clear: left;
   white-space: nowrap;
   margin-top: 0.335em;
   width: 9.81em;

   font-size: 82%;
   letter-spacing: 0.077em;
   word-spacing: 0.077em;
   line-height: 1.08;
   font-weight: bold;
   text-transform: uppercase;
   text-align: right;

}

#links li a span span {
   margin-right: 0.1em;

   font-size: 85%;
   line-height: 1.0;
   letter-spacing: 0.09em;
   word-spacing: 0.09em;
}

#links ul.no-author li a,
#links li a > span + span {
   font-size: 94%;
   line-height: 1.47;
   text-transform: lowercase;
}

#links li a > span + span {
   margin-left: 8.94em;

   text-align: left;
   white-space: nowrap;
}

#links li.off {
   color: #a0a0a0;

   font-size: 94%;
   font-style: italic;
   line-height: 1.47;
   text-align: center;
}


/* ---------- FOOTER ---------- */

#footer h2 {
   display: none;
}

#footer ul {
   margin-bottom: 1.2em;
   height: 0.53em;
   border-bottom: 1px solid #c0c0c0;
}

#footer li {
   width: 9em;
   height: 1em;

   float: left;

   color: #606060;

   list-style-type: none;
   text-align: center;
   line-height: 1.0;
}

#footer li     { cursor: default; }
#footer li a   { cursor: pointer; }

#footer li.about     { margin-left: 2.5em; }
#footer li.bookmarks    { margin-right: 2.5em; }

#footer li a {
   display: block;
   height: 1em;
   padding: 0;

   color: #808080;

   text-decoration: none;
}

#footer li span {
   padding: 0 0.3em;

   font-size: 108%;
   background: #fff;
}

#footer li a:hover,
#footer li a:focus,
#footer li a:active {
   color: #c0c0c0;
}


/* ---------- ZOMG HACKS :O ---------- */

/* Correct values for all browsers but Safari */

#header input[type="text"] {
   width: 15em;#
}

#comment-form textarea {
   width: 33.6em;
}

#comment-form input[type="text"] {
   width: 10.35em;
}

#comment-form fieldset div.buttons button {
   height: 1.53em;
   padding: 0.08em 0 0;
}

#search-results h3 span {
   margin-top: 2px;
}

#search-results h3 input[type="text"] {
   width: 26.93em;
}
a { outline: none; }